<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Empowering you to take control of your health, anytime, anywhere !</h2>
                <hr class="light">
                <p class="text-faded">With Docappy, you can easily book appointments, access, manage your medical records, and connect with healthcare professionals. Our user-friendly application is designed to make your life easier and give you peace of mind when it comes to your health.</p>
                <a href="#" class="btn btn-default btn-xl">Sign Up!</a></br>
            </br>
                <img src="img/welcome_page.PNG" class="img-responsive" alt=""/>
            </div>
        </div>
    </div>
</section>
