<section class="no-padding" id="features">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/booking.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Online Booking
                            </div>
                            <div class="project-name">
                                Discover a trusted professional near you and secure your appointment with just a few clicks - experience the convenience of instant booking today!                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/availability.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Availability
                            </div>
                            <div class="project-name">
                                Get instant access to your preferred practitioner's availability!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/dashboard.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Single pane of glass
                            </div>
                            <div class="project-name">
                                Track your medication, upcoming appointments and more in Orclida Dashboard.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
