<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Why Orclida ?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calendar wow bounceIn text-primary"></i>
                    <h3>Bookings</h3>
                    <p class="text-muted">Discover the the convenience of online bookings with your favorite practitioner.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gear wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Take Control</h3>
                    <p class="text-muted">Empower yourself with effortless appointment and health document management</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lock wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>We secure your Data</h3>
                    <p class="text-muted">At Orclida, confidentiality and integrity of your personal information is our top priority.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-arrow-right wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>For Everyone</h3>
                    <p class="text-muted">Sign up now and experience a seamless, stress-free experience, whether you're a patient or practitioner.                        .</p>
                </div>
            </div>
        </div>
    </div>
</section>
